In [47]:
import pandas
#read the point of interest dataset
df = pandas.read_csv('dataset_TIST2015_POIs.txt', sep='\t', names = ["poiid", "lat", "lon", "cat", "country"])

df.head()

                      poiid        lat        lon                cat country
0  3fd66200f964a52000e71ee3  40.733596 -74.003139          Jazz Club      US
1  3fd66200f964a52000e81ee3  40.758102 -73.975734                Gym      US
2  3fd66200f964a52000ea1ee3  40.732456 -74.003755  Indian Restaurant      US
3  3fd66200f964a52000ec1ee3  42.345907 -71.087001  Indian Restaurant      US
4  3fd66200f964a52000ee1ee3  39.933178 -75.159262     Sandwich Place      US

In [15]:
#change the latitude and longitude columns to floating point values
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)
df.head()

                      poiid        lat        lon                cat country
0  3fd66200f964a52000e71ee3  40.733596 -74.003139          Jazz Club      US
1  3fd66200f964a52000e81ee3  40.758102 -73.975734                Gym      US
2  3fd66200f964a52000ea1ee3  40.732456 -74.003755  Indian Restaurant      US
3  3fd66200f964a52000ec1ee3  42.345907 -71.087001  Indian Restaurant      US
4  3fd66200f964a52000ee1ee3  39.933178 -75.159262     Sandwich Place      US

In [50]:
#open an empty csv file as write
#columns = ["poiid", "lat", "lon", "cat", "country"]
f = open('output.txt', 'w')
#iterate over all the rows and append those that have matching latitude
#values to los angeles to our empty csv file with a comma delimiter.
for index, row in df.iterrows():
    if row['lat'] >= 33.5 and row['lat'] <= 35.0:
        if row['lon'] >= -119.0 and row['lon'] <= -116.5:
            thing = row['poiid']+","+str(row['lat'])+","+str(row['lon'])+","+row['cat']+"\n"
            f.write(thing)
            #thing.to_csv(f, mode='a', header=None, index=None)
            #f2 = pandas.Series(row)
            #f.append(f2, ignore_index=True)
#close our csv file
f.close()