In [6]:
import pandas

df = pandas.read_csv('pois.csv', sep=',', names=['poiid', 'lat', 'lon', 'cat'])
df.head()

                      poiid        lat         lon                 cat
0  3fd66200f964a52001ef1ee3  34.092793 -118.281469                 Bar
1  3fd66200f964a52002ef1ee3  34.075314 -118.253499                 Bar
2  3fd66200f964a52005f01ee3  34.025916 -118.457514         Music Store
3  3fd66200f964a52007f11ee3  34.159909 -118.331111  Mexican Restaurant
4  3fd66200f964a52012f01ee3  34.024816 -118.459881            Dive Bar

In [19]:
ids = df['poiid']

In [24]:
ids.columns=['poiid']
ids.head()

0    3fd66200f964a52001ef1ee3
1    3fd66200f964a52002ef1ee3
2    3fd66200f964a52005f01ee3
3    3fd66200f964a52007f11ee3
4    3fd66200f964a52012f01ee3
Name: poiid, dtype: object

In [10]:
df2 = pandas.read_csv('dataset_TIST2015_Checkins.txt', sep='\t', names=['user', 'poiid', 'utc', 'offset'])
df2.head()

     user                     poiid                             utc  offset
0   50756  4f5e3a72e4b053fd6a4313f6  Tue Apr 03 18:00:06 +0000 2012     240
1  190571  4b4b87b5f964a5204a9f26e3  Tue Apr 03 18:00:07 +0000 2012     180
2  221021  4a85b1b3f964a520eefe1fe3  Tue Apr 03 18:00:08 +0000 2012    -240
3   66981  4b4606f2f964a520751426e3  Tue Apr 03 18:00:08 +0000 2012    -300
4   21010  4c2b4e8a9a559c74832f0de2  Tue Apr 03 18:00:09 +0000 2012     240

In [43]:
f = open('checkins.txt', 'w')
#values = 0
for index, row in df2.iterrows():
    if row['poiid'] in ids.values:
           thing = str(row['user'])+","+str(row['poiid'])+","+str(row['utc'])+","+"\n"
           f.write(thing)
#        values += 1
f.close()

717